language: python
python:
    - 3.5
    - 3.6
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: "3.7"
      dist: xenial
      sudo: true
    - python: "3.8"
      dist: xenial
      sudo: true
install:
    - pip install -r requirements.txt
script: python -m unittest
